<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>SPAサンプル</title>
</head>
<body>
	<div id="app">
		<router-link to="/top">TOP</router-link>
		<router-link to="/users">ユーザ一覧</router-link>
		<router-link :to="{ name: 'user', params: {userId: 100}}">ユーザ詳細</router-link>
		<router-link to="/hello">はろー</router-link>
		<router-view></router-view>
	</div>
	<script src="../../../../../spa-vue-spring/dist/bundle.js"></script>
	<script type="x-template" id="user-list">
		<div>
			<div class="loading" v-if="loading">ロード中</div>
			<div v-if="error" class="error">
				{{ error }}
			</div>
			<!--usersがロードされたら各ユーザの名前を表示する-->
			<div v-for="user in users" :key="user.id">
				<h2>{{ user.name }}</h2>
			</div>
		</div>
	</script>
</body>
</html>
